name: Run tests

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: false
      - uses: mlugg/setup-zig@v1
        with:
          version: 0.15.2
      - run: zig build test
